body {
  align-content: stretch;
  align-items: stretch;
  bottom: 0;
  display: flex;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.panels {
  background: dodgerblue;
  flex: 0;
}

.tools {
  background: greenyellow;
  flex: 0;
}

.view {
  flex: 1;
}
